# This file is expected to be read as a template by Nginx official docker image.
# Its result should be be outputs to `/etc/nginx/conf.d`.
# https://hub.docker.com/_/nginx

server {
    listen 80;

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }
}
