# Mac things
.DS_Store

# VSCode things
/.vscode/settings.json

# Python
__pycache__/
/.venv/

# Django things
/db.sqlite3
/static/*

# NPM stuff
/node_modules/*
/dist/*
/build/*

# Next.js
/.next/

# Secrets
/secrets.json

# global .env
/.env
