[Unit]
Description=j3y web service with docker compose
After=docker.service

[Service]
ExecStart=/usr/local/bin/docker-compose -f /home/jimub/repos/j3y/docker/prod.yml up --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f /home/jimub/repos/j3y/docker/prod.yml down

[Install]
WantedBy=multi-user.target