@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'Libre Caslon Text', serif;
}

html,
body,
#root {
  height: 100%;
}

.parallax {
  background-image: url(./images/one_way.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Because the CSS "background-attachment: fixed;" doesn't work on some mobile device (e.g. Safari). */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.serif {
  font-family: 'Libre Baskerville', serif;
}
